<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-ulogin"
    version="1.0.0">

    <name>ulogin</name>

    <description>Cordova ulogin Plugin</description>

    <license>MIT</license>

    <keywords>cordova,ulogin,social,auth</keywords>

    <js-module src="www/ulogin.js" name="uLogin">
        <clobbers target="navigator.ulogin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="uLogin">
                <param name="android-package" value="ru.gid4u.cordova.uLogin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="ru.ulogin.sdk.UloginAuthActivity"
                      android:configChanges="orientation|screenSize" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <source-file   src="src/android/uLogin.java"        target-dir="src/ru/gid4u/cordova" />
        <resource-file src="ulogin-sdk/ulogin-sdk-v1.1.aar" target    ="libs/ulogin-sdk-v1.1.aar" />
        <framework     src="src/android/ulogin.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
